#login-page{
    direction: rtl;
    background: red;
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: gray;
        .circle-art{
           background: black;
           min-height:500px;
           width: 500px;
           border-radius: 50%;
        
        }
       
    }
    .form-box{
        position: absolute;
            
    }

}